<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type' />
    <title>SimPEL &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
    </style>
    <style type='text/css'>
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Official SimPEL documentation from the people in the know' name='subject' />
    <link href='/favicon.ico' rel='shortcut icon' />
  </head>
  <body>
    <div id='header'>
      <div id='logo'>
        <a href='http://intalio.github.com/simpel'>
          <img alt='buildr' src='images/intalio-oss.gif' />
        </a>
      </div>

      <div id="main-nav-wrapper">
        <div class="main-nav-left"></div>
        <div id="main-nav">
          <ul>
            <li class="first"><a title="Intalio|OSS" href="http://oss.intalio.com" id="nav-projects">Projects</a></li>
            <li><a title="Source Repository" href="http://github.com/intalio/simpel" id="nav-github">Github</a></li>
          </ul>
          <div class='search'></div>
        </div>
        <div class="main-nav-right"></div>
      </div>
    </div>

    <div id='wrap' class='center-round'>
      <div class='center-content'/>
        <div class='box-top'><span/></div>
          <div id='pages'>
            <ol class='toc'>
              <li>Start Here
              <ol class="toc">
                <li><a href='index.html'>Welcome</a></li>
                <li><a href='download.html'>Download</a></li>
              </ol>
              </li>
              <li>Tutorials
              <ol class="toc">
                <li><a href='first_process.html'>Your First Process</a></li>
                <li><a href='resource_fun.html'>Resource Fun</a></li>
                <li><a href='calling_out.html'>Calling Out</a></li>
              </ol>
              </li>
              <li>Reference
              <ol  class="toc">
                <li><a href='simpel_reference.html'>SimPEL Reference</a></li>
                <li><a href='configuration.html'>Configuration</a></li>
              </ol>
              </li>
              <li>Get Involved
              <ol  class="toc">
                <li><a href='mailing_lists.html'>Mailing Lists</a></li>
                <li><a href='contributing.html'>Contributing</a></li>
              </ol>
              </li>
            </ol>
          </div>
          <div id='content'>
            <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
            {{ content }}
          </div>
          <div id='footer'>Copyright &copy; 2008-2009 Intalio Inc.</div>
          <div class='box-bottom'><span/></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
